---
import { getCollection } from "astro:content";
import Container from "@components/container.astro";
// import Cta from "@components/cta.astro";
import FeatureAlt from "@components/feature-alt.astro";
import FeatureGrid from "@components/feature-grid.astro";
import Stalls from "@components/stalls.astro";
import Logos from "@components/logos.astro";
import Sectionhead from "@components/sectionhead.astro";
// import Testimonials from "@components/testimonials.astro";
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";

import { Picture } from "astro:assets";
import myImage from "../../assets/images/market.jpg";
---

<Layout title="Stall Holders" footerMargin={false}>
  <Container class="mt-16">
    <Sectionhead>
      <Fragment slot="badge">Stalls</Fragment>
      <Fragment slot="title">Stall Holders</Fragment>
      <Fragment slot="desc">
        We're a multi-cultural team from around the world! We come from diverse
        backgrounds, bringing different personalities, experiences and skills to
        the job. This is what makes our team so special..
      </Fragment>
    </Sectionhead>

    <Picture
      src={myImage}
      alt="Yarraville Festival Dog Parade"
      src={myImage}
      formats={["avif", "webp"]}
    />

    <p>Applications are now open for YF 2024. Apply below.</p>
    <p>
      If you have submitted an application, you should receive correspondence
      and an invoice closer to the festival date.
    </p>
    <p>
      The Yarraville Festival 2024 is filled with various stall holders around
      the precinct. The organising committee encourages food and beverage
      traders, community groups and organisation, external stall holders and
      small businesses, and ofcourse our local traders within the village.
    </p>

    <p>
      Each year the Yarraville Festival receives more applications to join the
      festival, and as a result, may not be able to fit everyone in the same
      position as previous years. Please take note that we do our best to
      accommodate everyone’s needs, and please respect that all allocations made
      by the festival committee are final.
    </p>

    <h2>Types of Stall Holders</h2>
    <h3>Food and Beverage Stall</h3>
    <p>
      Invigorate people’s taste buds with a Food & Beverage Stall. The
      Yarraville Festival is the time of the year where we celebrate our diverse
      cultures through food. Our visiting food and beverage stall holders helps
      to give our patrons a sensory tour of flavour from around the globe.
    </p>

    <h3>Community Stall</h3>
    <p>
      Community stall spaces are provided to non-profit community, sports, arts,
      charity and educational organisations that reside and focus on the local
      area. The Yarraville Festival is the time of the year where we celebrate
      you, the community! The Yarraville Festival provides a number of community
      programs with a free stall space.
    </p>
    <h3>Local Trader Stall</h3>
    <p>
      Shine bright in your community with a Local Traders Stall. The Yarraville
      Festival is the time of the year where we celebrate the local stars in the
      village. Are you a local trader? Come and be a part of Yarraville’s
      largest event of the year.
    </p>

    <h3>External Stall</h3>
    <p>
      Showcase something unique with an External Stall. The Yarraville Festival
      is the time of the year where we celebrate the dynamic range of artists
      and artisans surrounding our area and beyond. Our visiting artists and
      artisans are a vital part of what makes the festival special.
    </p>
  </Container>

  <!-- <FeatureAlt nomargin={true} />
    <FeatureGrid />
    <Stalls /> -->
</Layout>
