---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import FeatureAlt from "@components/feature-alt.astro";
// import FeatureGrid from "@components/feature-grid.astro"
import { default as FeaturesBlock } from "@components/features.astro";
import Logos from "@components/logos.astro";
import Sectionhead from "@components/sectionhead.astro";
import Testimonials from "@components/testimonials.astro";
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout footerMargin={false}>
  <Container>
    <h3>General Festival Timetable:</h3>
    <ul>
      <li>6-9 Bump in</li>
      <li>9-10 setup</li>
      <li>10-5 Festival most areas</li>
      <li>10-7:30 Festival main stage</li>
      <li>07:45 End</li>

      <h3>Main Stage:</h3>
      <ul>
        <li>10:00am - 10:15am MS Niasha Welcome and Youth services speech</li>
        <li>10:15am - 10:30am Ed Moon (Freeza)</li>
        <li>
          10:40am - 11:00am Chief Tebir (Freeza)
          <li>10:15am - 10:30am Ed Moon (Freeza)</li>
          <li>11:10am - 11:40am MS NIASHA (Freeza)</li>
          <li>11:40am - 12:00pm Annaliese Rose setup/soundcheck</li>
          <li>
            11:45am - 11:50am President Yarraville Festival Committee Introduces
            Deputy Mayor
          </li>
          <li>11:50am - 11:55am Speech: Deputy Mayor, Cr Michael Clarke</li>
          <li>
            11:55am - 12:00pm Speech: Con Frescos, President Yarraville Festival
            Committee
          </li>
          <li>12:00pm - 12:30pm Annaliese Rose</li>
          <li>12:45pm - 1:15pm The Thirst Trap</li>
          <li>1:30pm - 2:00pm Mae Mobly</li>
          <li>2:15pm - 3:00pm Ray Pereira & Julien Wilson</li>
          <li>3:15pm - 4:00pm Nikodimos & The Free Speakers</li>
          <li>4:15pm - 5:00pm Kee’ahn</li>
          <li>5:20pm - 6:05pm Ras Jahknow</li>
          <li>6:20pm - 7:10pm Pretty Moi</li>
          <li>7:30pm Finish</li>
        </li>

        <h3>Community Stage:</h3>
        <ul>
          <li>11:00-11:30 MDX</li>
          <li>11:30-12:00 Bluefire BellyDancers</li>
          <li>12:00-12:30 DOG PARADE</li>
          <li>12:30-13:00 DOG PARADE</li>
          <li>13:00-13:30 Maribyrnong Aquatic Centre - Zumba</li>
          <li>13:30-14:00 Hyde Street Youth Band</li>
          <li>14:00-14:30 Melbourne Academy of Performing Arts (MAPA)</li>
          <li>14:30-15:00 Glee West</li>
          <li>15:00 - 15:30 FemCee</li>
          <li>15:30-16:00 Physipole Studios</li>
          <li>
            16:00-17:00 St Michael’s Grammer School presents: The Songs of QUEEN
          </li>
        </ul>
        <h3>Anderson St West:</h3>
        <ul>
          <li>DJ on Vespa outside West side records from 12 - 4 PM</li>
        </ul>

        <h3>Kid Stage</h3>
        <ul>
          <li>10:30 Leaps N Beats Dance</li>
          <li>11:00 Bella The Bookworm</li>
          <li>12:00 YWPS: Arlo Barker - Trumpet Solo</li>
          <li>12:15 YWPS: Leo McDermott - Piano solo,</li>
          <li>12:20 YWPS: Bella D'Rozario - Guitar solo</li>
          <li>
            12:25 YWPS: Lexie Henderson, Charlotte Head, Kathryn Lowe and Bella
            D'Rozario
          </li>
          <li>12:40 L2L Hip Hop dance (TBC)</li>
          <li>02:00 Demie Bagnato</li>
          <li>15:00 We Will Rock You - Queen showcase!</li>
          <li>04:00 Scary Flying Sharks</li>
        </ul>

        <h3>Hospitality Zone (cnr Woods and Murray)</h3>
        10:30 DJs all day
      </ul>

      <Container class="mt-16">
        <!-- <FeatureAlt nomargin={true} /> -->
        <!-- <FeatureGrid /> -->
        <!-- <FeaturesBlock /> -->
      </Container>
      <Cta />
    </ul>
  </Container></Layout
>
