---
const { color = "DEFAULT", class: className } = Astro.props;

const colors = {
  DEFAULT: "bg-gray-50",
  indigo: "bg-indigo-50",
  orange: "bg-orange-50",
  purple: "bg-purple-50",
};
---

<div class:list={["rounded-md", colors[color], className]}>
  <div class="p-8 h-80 overflow-hidden flex items-start justify-center">
    <slot name="image" />
  </div>
  <div class="p-8">
    <h3 class="text-xl lg:text-3xl font-bold"><slot name="title" /></h3>
    <p class="text-slate-600 mt-2 [text-wrap:balance]"><slot name="desc" /></p>
  </div>
</div>
