---
import Link from "./ui/link.astro";
---

<div
  class="bg-gradient-to-bl from-indigo-900 to-indigo-700 p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Sunday March 17, 2024
  </h2>
  <p class="text-white/70 mt-4 text-lg md:text-xl">
    10AM - 7PM
    <br />
    Catch a train to Yarraville Station

    <!-- Yes we are going ahead despite the hot weather!!! -->
  </p>
  <div class="flex mt-5">
    <!-- <Link href="#" style="inverted">Catch a train to Yarraville Station</Link> -->
  </div>
</div>
