---
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";
import Cta from "@components/cta.astro";
import { Image } from "astro:assets";
import LogoImage from "../assets/yarraville-festival-logo.png";

const { margin } = Astro.props;

const footermenu = {
  company: [
    {
      title: "Home",
      path: "/",
    },
    // {
    //   title: "Volunteers",
    //   path: "/volunteers",
    // },
    // {
    //   title: "Blog",
    //   path: "/blog",
    // },
    {
      title: "What's On",
      path: "/whats-on/",
    },

    {
      title: "Contact",
      path: "/contact",
    },
  ],
  product: [
    {
      title: "Sponsors",
      path: "/sponsors",
    },
    {
      title: "Market Stalls",
      path: "/market-stalls/",
    },
    {
      title: "Food & Beverage",
      path: "/food-beverage/",
    },
    // {
    //   title: "Integrations",
    //   path: "#",
    // },
  ],
  resources: [
    {
      title: "Help Center",
      path: "#",
    },
    {
      title: "Guides",
      path: "#",
    },
    {
      title: "Documentation",
      path: "#",
    },
    {
      title: "Uptime Status",
      path: "#",
    },
  ],
};
---

<Cta />
<footer
  class:list={[
    "border-t border-slate-100 bg-slate-100 py-14",
    margin && "mt-10",
  ]}>
  <Container>
    <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
      <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
        <a
          href="/"
          class="focus-visible:shadow-outline-indigo -ml-2 flex items-center rounded-full px-2 text-lg transition focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2">
          <Image src={LogoImage} width="150" alt="Yarraville Festival logo." />
        </a>
        <!-- <a href="/" class="flex items-center text-lg"
          ><span class="font-bold text-indigo-600">Yarraville </span><span
            class="text-slate-600">Festival</span
          >
          <span
            class="ml-1 mt-0.5 rounded-md bg-gray-200 px-2 py-1 text-[10px] font-bold uppercase leading-none text-slate-700"
            >2024</span
          >
        </a> -->
        <p class="mt-4 max-w-xs text-sm text-slate-700">
          A renowned Inner West Community festival, celebrated for community
          participation and a unique village atmosphere
        </p>
        <div class="mt-4 flex items-center gap-3">
          <a
            href="https://www.instagram.com/yarravillefestival/"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex h-6 w-6 items-center justify-center rounded bg-slate-200 text-slate-500 hover:bg-slate-300">
            <Icon name="bx:bxl-instagram" class="h-4 w-4" />
            <span class="sr-only">Instagam</span></a
          >
          <!-- <a
            href="https://twitter.com/surjithctly"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-twitter" class="w-4 h-4" />
            <span class="sr-only">Twitter or X</span></a
          > -->
          <a
            href="https://www.facebook.com/YarravilleFestival/"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex h-6 w-6 items-center justify-center rounded bg-slate-200 text-slate-500 hover:bg-slate-300">
            <Icon name="bx:bxl-facebook-circle" class="h-4 w-4" /><span
              class="sr-only">Facebook</span
            ></a
          >
          <!-- <a
            href="https://linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-linkedin-square" class="w-4 h-4" /><span
              class="sr-only">Linkedin</span
            ></a
          >  -->
        </div>
      </div>
      <div>
        <h3 class="text-sm font-medium text-slate-800">Company</h3>
        <div class="mt-3 flex flex-col">
          {
            footermenu.company.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="text-sm font-medium text-slate-800">Partners</h3>
        <div class="mt-3 flex flex-col">
          {
            footermenu.product.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="text-sm font-medium text-slate-800">Resources</h3>
        <div class="mt-3 flex flex-col">
          {
            footermenu.resources.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </Container>

  <!-- <div class="mt-14 border-t border-slate-200 px-5 pt-8">
    <Container>
      <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
        Copyright © {new Date().getFullYear()} Yarrville Festival Committee Inc.
        All rights reserved.
      </p>
      <p class="mt-2 text-center text-xs text-slate-600">
        <a href="/terms" class="hover:text-indigo-500"> Terms</a> ・ <a
          href="/privacy"
          class="hover:text-indigo-500">
          Privacy</a
        >
      </p>
    </Container>
  </div> -->
</footer>
