---
import Card from "@components/card.astro";
import Container from "@components/container.astro";
// import Review from "@components/review.astro";
import Link from "@components/ui/link.astro";
---

<Container>
  <div class="mt-24">
    <h2 class="text-center text-4xl font-bold lg:text-5xl lg:tracking-tight">
      What's <span class="text-indigo-600">On?</span>
    </h2>
    <p class="mt-4 text-center text-lg text-slate-600">
      Food and Beverage options aplenty!
    </p>
  </div>
</Container>
