---
import Container from "@components/container.astro";
// import Cta from "@components/cta.astro";
import FeatureAlt from "@components/feature-alt.astro";
import MainstageGrid from "@components/mainstage-grid.astro";
import { default as FeaturesBlock } from "@components/features.astro";
import Logos from "@components/logos.astro";
import Sectionhead from "@components/sectionhead.astro";
import Testimonials from "@components/testimonials.astro";
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";
import Freeza from "@components/mainstage-freeza.astro";
---

<Layout footerMargin={false}>
  <Container class="mt-16">
    <!-- <FeatureAlt nomargin={true} /> -->
    <div class="mt-24">
      <h2 class="text-center text-4xl font-bold lg:text-5xl lg:tracking-tight">
        Train station car park <span class="text-indigo-600">comes alive!</span>
      </h2>
      <p class="mt-4 text-center text-lg text-slate-600">
        Our Main Stage is now situated behind the Sun Cinema. A great selection
        of acts selected by Kindred. This year’s Yarraville Festival Main Stage
        is proudly programmed by Kindred Studios in collaboration with Songlines
        Aboriginal Music and Freeza Youth Services.
      </p>
      <p class="mt-4 text-center text-lg text-slate-600">
        Music will kick off from 10am with Ed Moon, Chief Tebir and MS NIASHA. A
        wonderful array of acts curated by Freeza.
      </p>
    </div>

    <MainstageGrid />

    <p class="mt-4 text-center text-lg text-slate-600">
      From midday, the Kindred Main Stage is a back-to-back line up of some of
      Melbourne’s best artists, such as Kee’ahn, Nikodimos & The Free Speakers,
      Ray Pereira, Ras Jahknow, Pretty Moi, Annaliese Rose, The Thirst Trap &
      more!
    </p>
    <p class="mt-4 text-center text-lg text-slate-600">
      Can’t wait to see you on the dance floor on Sunday, 17th March. Kindred
      Main Stage located at the rear of the Sun Theatre on Canterbury Street.
    </p>

    <!-- <FeaturesBlock /> -->
    <Freeza />
  </Container>
  <!-- <Cta /> -->
</Layout>
